MAESTRLY_GATEWAY_BIND=127.0.0.1
MAESTRLY_GATEWAY_DISPLAY_NAME=
MAESTRLY_GATEWAY_IMAGE=maestrly/bot-gateway:local
MAESTRLY_GATEWAY_BOT_IMAGE=maestrly/bot-instance:local
MAESTRLY_GATEWAY_BOT_SECURITY_OPT=auto
MAESTRLY_GATEWAY_BOT_EGRESS=open
MAESTRLY_GATEWAY_BOT_MEMORY=4g
MAESTRLY_GATEWAY_BOT_SHM=1g
TZ=Etc/UTC
