POSTGRES_PASSWORD=
MAESTRLY_DB_RUNTIME_PASSWORD=
BETTER_AUTH_SECRET=
MAESTRLY_BOOTSTRAP_EMAIL=
MAESTRLY_BOOTSTRAP_PASSWORD=
MAESTRLY_CANONICAL_URL=http://127.0.0.1:4310
MAESTRLY_WEB_ORIGIN=http://127.0.0.1:4173
MAESTRLY_INSTANCE_NAME=Local Maestrly
MAESTRLY_STORAGE_DIR=/var/lib/maestrly/attachments
